body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121212; /* Darker background color */
  color: #ffffff; /* Assuming you want white text for contrast */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
}

main {
  width: 100%;
  max-width: 800px;
}

