/* src/index.css */

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  color: #333;
  line-height: 1.6;
}

/* Utility classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

/* Specific component styles */
header {
  background-color: #3b82f6;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 2rem;
}

/* Styling for Pokemon cards and list */
.pokemon-card {
  max-width: 300px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.caught-pokemon-list {
  background-color: #e5e7eb;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
